In [1]:
import pandas as pd
import os
import re

In [11]:
input_folders = 'C:/Users/KornkamolSampaongern/DocumentInformationExtraction/data/'

In [12]:
os.listdir(input_folders)

['additional_project_information.csv',
 'AO_data.csv',
 'CB_data.xlsx',
 'project_details.csv']

## Additional Information

In [13]:
ad_df = pd.read_csv(f'{input_folders}/additional_project_information.csv', encoding="utf8")

C:\Users\KornkamolSampaongern\AppData\Local\Temp\ipykernel_23700\2748090572.py:1: DtypeWarning: Columns (2,14,22,23,26,41) have mixed types. Specify dtype option on import or set low_memory=False.
  ad_df = pd.read_csv(f'{input_folders}/additional_project_information.csv', encoding="utf8")

In [14]:
ad_df = ad_df[(ad_df['UID'].map(lambda x: x.startswith('VCS')))]

In [35]:
ad_df['project_id'] = ad_df['UID'].apply(extract_numbers)

In [36]:
ad_df['UID'].nunique()

4267

In [37]:
ad_df

,UID,Project Name,Permanence,Project Description,Project Registry Link,Registry,Project Status,Project Sector,Project Countries,Project Country,...,Year Founded,Project Liquidity Score,Sustainable Development Goals,fNRB (project),fNRB (country Baseline),Number Of Ratings,Ccp Approval,Project Region,Project Continent,project_id
24097,VCS1,7.25 MW wind energy project of Aruppukottai Sr...,NaN,The project activity consists of 17 wind turbi...,https://registry.verra.org/app/projectDetail/V...,Verra,Active,Renewable Energy,India,India,...,"2,006",0.0,NaN,NaN,NaN,NaN,False,APAC,Asia,1
24098,VCS10,BAESA Project,NaN,The project activity reduces the emission of g...,https://registry.verra.org/app/projectDetail/V...,Verra,Active,Renewable Energy,Brazil,Brazil,...,"2,006",10.0,NaN,NaN,NaN,2.0,False,LATAM,South America,10
24099,VCS100,Boiler fuel conversion from Furnace Oil to Bag...,NaN,The proposed project activity is a fuel switch...,https://registry.verra.org/app/projectDetail/V...,Verra,Active,Renewable Energy,India,India,...,"2,005",0.0,NaN,NaN,NaN,NaN,False,APAC,Asia,100
24100,VCS1000,Conversion to Proteccion of the Amazon Rain Fo...,NaN,This project will protect the Bolivian amazon ...,https://registry.verra.org/app/projectDetail/V...,Verra,Pending,Forestry and Land Use,Bolivia,Bolivia,...,"2,008",0.0,NaN,NaN,NaN,NaN,False,LATAM,South America,1000
24101,VCS1001,Inner Mongolia Yihewusu Phase II 49.5 MW Wind ...,NaN,"Project was registered in unfccc on Oct 25,20...",https://registry.verra.org/app/projectDetail/V...,Verra,Active,Renewable Energy,China,China,...,"2,009",4.0,NaN,NaN,NaN,NaN,False,APAC,Asia,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28359,VCS995,"TIST Program in Uganda, VCS 006",NaN,"Since its inception in 1999, over 63,000 parti...",https://registry.verra.org/app/projectDetail/V...,Verra,Active,Forestry and Land Use,Uganda,Uganda,...,"2,006",2.0,NaN,NaN,NaN,2.0,False,EMEA,Africa,995
28360,VCS996,"TIST Program in Kenya, VCS 009",NaN,"Since its inception in 1999, over 63,000 parti...",https://registry.verra.org/app/projectDetail/V...,Verra,Active,Forestry and Land Use,Kenya,Kenya,...,"2,004",2.0,NaN,NaN,NaN,4.0,False,EMEA,Africa,996
28361,VCS997,Xinjiang Kaiduhe River Chahan Wusu Hydropower ...,NaN,Xinjiang Kaiduhe River Chahan Wusu Hydropower ...,https://registry.verra.org/app/projectDetail/V...,Verra,Active,Renewable Energy,China,China,...,"2,007",9.0,NaN,NaN,NaN,NaN,False,APAC,Asia,997
28362,VCS998,01 million Compact Fluorescent Lamps (EVN-2010...,NaN,The purpose of the Project is to install appro...,https://registry.verra.org/app/projectDetail/V...,Verra,Active,Energy Efficiency/Fuel Switching,Vietnam,Vietnam,...,"2,011",0.0,NaN,NaN,NaN,NaN,False,ASEAN,Asia,998
28363,VCS999,Protection of the Amazon Rain Forest II,NaN,This project will protect the Amazon forest fr...,https://registry.verra.org/app/projectDetail/V...,Verra,Pending,Forestry and Land Use,Bolivia,Bolivia,...,"2,012",0.0,NaN,NaN,NaN,NaN,False,LATAM,South America,999

In [62]:
ad_df['Project Sector'].value_counts()

Renewable Energy                               1628
Forestry and Land Use                          1394
Waste Disposal                                  436
Energy Efficiency/Fuel Switching                283
Household Devices                               218
Chemical Processes/Industrial Manufacturing     147
Agriculture                                     115
Transportation                                   46
Name: Project Sector, dtype: int64

In [38]:
ad_df.columns

Index(['UID', 'Project Name', 'Permanence', 'Project Description',
       'Project Registry Link', 'Registry', 'Project Status', 'Project Sector',
       'Project Countries', 'Project Country', 'Project Verifier',
       'Project Developer', 'Project Owner', 'Article 6 Aligned',
       'Article 6.4 Registered', 'CORSIA eligibility', 'CCP likelihood',
       'Crediting Period End Date', 'Crediting Period Start Date',
       'Est. Annual Emission Reduction', 'Indicative Project Price',
       'Project Offset Type', 'Project Acreage', 'Project CCB Status',
       'Project Size', 'Project State Or Province',
       'Total Project Buffer Pool Credits', 'Project Latitude',
       'Project Longitude', 'Project Methodologies', 'Project Risk: External',
       'Project Risk: Internal', 'Project Risk: Natural',
       'Project Risk: Overall', 'Project Sub Sector', 'Year Founded',
       'Project Liquidity Score', 'Sustainable Development Goals',
       'fNRB (project)', 'fNRB (country Baseline)', 'Number Of Ratings',
       'Ccp Approval', 'Project Region', 'Project Continent', 'project_id'],
      dtype='object')

In [39]:
ad_df.nunique()

UID                                  4267
Project Name                         4265
Permanence                              0
Project Description                  4051
Project Registry Link                4267
Registry                                1
Project Status                          4
Project Sector                          8
Project Countries                     125
Project Country                       125
Project Verifier                       56
Project Developer                    2305
Project Owner                           0
Article 6 Aligned                       1
Article 6.4 Registered                  0
CORSIA eligibility                      1
CCP likelihood                          4
Crediting Period End Date            2401
Crediting Period Start Date          1960
Est. Annual Emission Reduction       3936
Indicative Project Price             1058
Project Offset Type                     3
Project Acreage                      1230
Project CCB Status                     20
Project Size                            3
Project State Or Province            1474
Total Project Buffer Pool Credits     242
Project Latitude                     2772
Project Longitude                    3095
Project Methodologies                 278
Project Risk: External                 11
Project Risk: Internal                 24
Project Risk: Natural                  23
Project Risk: Overall                  42
Project Sub Sector                     29
Year Founded                           26
Project Liquidity Score                11
Sustainable Development Goals          55
fNRB (project)                          8
fNRB (country Baseline)                 5
Number Of Ratings                       6
Ccp Approval                            2
Project Region                          5
Project Continent                       6
project_id                           4267
dtype: int64

## AliedOffsets

In [40]:
ao_df = pd.read_csv(f'{input_folders}/AO_data.csv', encoding="utf8")

In [41]:
ao_df = ao_df[(ao_df['uid'].map(lambda x: x.startswith('VCS')))&(ao_df['Measure Names']=='Forecast issuance (self-reported)')]

In [42]:
def extract_numbers(text):
    numbers = re.findall(r'\d+', text)
    return ' '.join(numbers)

In [43]:
ao_df['project_id'] = ao_df['uid'].apply(extract_numbers)

In [44]:
ao_df

,uid,Vintage (forecast vs actual issuance),Measure Names,Measure Values,project_id
4240,VCS10,2015,Forecast issuance (self-reported),505909.0,10
4241,VCS10,2014,Forecast issuance (self-reported),334498.0,10
4242,VCS10,2013,Forecast issuance (self-reported),313422.0,10
4243,VCS10,2012,Forecast issuance (self-reported),313422.0,10
4244,VCS10,2011,Forecast issuance (self-reported),313422.0,10
...,...,...,...,...,...
17323,VCS2911,2024,Forecast issuance (self-reported),59882.0,2911
17324,VCS2911,2023,Forecast issuance (self-reported),59882.0,2911
17325,VCS2911,2022,Forecast issuance (self-reported),59882.0,2911
17326,VCS2911,2021,Forecast issuance (self-reported),59882.0,2911
17327,VCS2911,2020,Forecast issuance (self-reported),NaN,2911

In [45]:
ao_df[~ao_df['Measure Values'].isna()]

,uid,Vintage (forecast vs actual issuance),Measure Names,Measure Values,project_id
4240,VCS10,2015,Forecast issuance (self-reported),505909.0,10
4241,VCS10,2014,Forecast issuance (self-reported),334498.0,10
4242,VCS10,2013,Forecast issuance (self-reported),313422.0,10
4243,VCS10,2012,Forecast issuance (self-reported),313422.0,10
4244,VCS10,2011,Forecast issuance (self-reported),313422.0,10
...,...,...,...,...,...
17322,VCS2911,2025,Forecast issuance (self-reported),59882.0,2911
17323,VCS2911,2024,Forecast issuance (self-reported),59882.0,2911
17324,VCS2911,2023,Forecast issuance (self-reported),59882.0,2911
17325,VCS2911,2022,Forecast issuance (self-reported),59882.0,2911
17326,VCS2911,2021,Forecast issuance (self-reported),59882.0,2911

In [66]:
ad_df.columns

Index(['UID', 'Project Name', 'Permanence', 'Project Description',
       'Project Registry Link', 'Registry', 'Project Status', 'Project Sector',
       'Project Countries', 'Project Country', 'Project Verifier',
       'Project Developer', 'Project Owner', 'Article 6 Aligned',
       'Article 6.4 Registered', 'CORSIA eligibility', 'CCP likelihood',
       'Crediting Period End Date', 'Crediting Period Start Date',
       'Est. Annual Emission Reduction', 'Indicative Project Price',
       'Project Offset Type', 'Project Acreage', 'Project CCB Status',
       'Project Size', 'Project State Or Province',
       'Total Project Buffer Pool Credits', 'Project Latitude',
       'Project Longitude', 'Project Methodologies', 'Project Risk: External',
       'Project Risk: Internal', 'Project Risk: Natural',
       'Project Risk: Overall', 'Project Sub Sector', 'Year Founded',
       'Project Liquidity Score', 'Sustainable Development Goals',
       'fNRB (project)', 'fNRB (country Baseline)', 'Number Of Ratings',
       'Ccp Approval', 'Project Region', 'Project Continent', 'project_id'],
      dtype='object')

In [72]:
ao_df['project_id'].nunique()

360

In [80]:
ao_df.merge(ad_df, on='project_id', how='left')[['Project Sector', 'project_id']].drop_duplicates()['Project Sector'].value_counts()

Forestry and Land Use                          180
Renewable Energy                               138
Waste Disposal                                  18
Chemical Processes/Industrial Manufacturing     16
Energy Efficiency/Fuel Switching                 6
Household Devices                                2
Name: Project Sector, dtype: int64

In [85]:
t = ao_df.merge(ad_df, on='project_id', how='left')
t[t['Project Sector']=='Renewable Energy']['project_id'].to_csv('id.csv')

In [82]:
cb_df.merge(ad_df, left_on='Project ID', right_on='project_id', how='left')[['Project Sector', 'project_id']].drop_duplicates()['Project Sector'].value_counts()

Forestry and Land Use    112
Name: Project Sector, dtype: int64

In [87]:
cb_df['Project ID'].drop_duplicates().to_csv('id.csv')

## ClearBlue Market

In [46]:
cb_df = pd.read_excel(f'{input_folders}/CB_data.xlsx', 'Emissions Reductions Sum')

In [47]:
cb_df['Project ID'] = cb_df['Project ID'].astype('str')

In [48]:
cb_df

,Project ID,0,1996,1997,1998,1999,2000,2001,2002,2003,...,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136
0,142,0,0.0,0.0,0.0,0.0,0.0,0.0,39481.00000,46122.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,514,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,576,0,0.0,0.0,0.0,0.0,0.0,0.0,1621.50137,9332.29589,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,594,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,595,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2833,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,2852,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,2965,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110,2992,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111,3350,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
cb_df.apply(lambda x: (x != 0).sum()).sum()

4753

### Analysis

In [50]:
ao_ids = ao_df['project_id'].to_list()

In [51]:
len(set(ao_ids))

360

In [52]:
cb_ids = cb_df['Project ID'].to_list()

In [53]:
len(set(cb_ids))

112

In [54]:
overlap_project = set(ao_ids).intersection(set(cb_ids))

In [55]:
len(overlap_project)

62

In [56]:
from PIL import Image
import numpy as np


colourImg = Image.open("image.png")
colourPixels = colourImg.convert("RGB")
colourArray = np.array(colourPixels.getdata()).reshape(colourImg.size + (3,))
indicesArray = np.moveaxis(np.indices(colourImg.size), 0, 2)
allArray = np.dstack((indicesArray, colourArray)).reshape((-1, 5))


df = pd.DataFrame(allArray, columns=["y", "x", "red","green","blue"])
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\KornkamolSampaongern\\DocumentInformationExtraction\\analysis\\script\\image.png'